div(class='navbar navbar-inverse')
  div(class='container-fluid')
    div(class='navbar-header')
      img(src="/favicon.ico", class='navbar-brand')
    ul(class='nav navbar-nav')
      li(id='navbar-home-link')
        a(href='/') Home
      li(id='navbar-about-link')
        a(href="/about") About
      li(id='navbar-contact-link')
        a(href="/contact") Contact
    ul(class='nav navbar-nav navbar-right')
      li
        audio(id='sayin-1', src='/snd/namsayin/ns1.wav')
        audio(id='sayin-2', src='/snd/namsayin/ns2.wav')
        audio(id='sayin-3', src='/snd/namsayin/ns3.wav')
        audio(id='sayin-4', src='/snd/namsayin/ns4.wav')
        a(href='#', onclick='playRandSayin()') namsayin?
