extends layout

block content
  include ./includes/navbar.jade
  div.container-fluid#cnt
    h3 Welcome to #{title}
    div.row
      div.col-md-12
        form.form-inline(onkeypress="return event.keyCode != 13;")
          div.form-group
            label Name &nbsp
            select.form-control#userSel
        form.form-inline(onkeypress="return event.keyCode != 13;")
          div.form-group
            label Map &nbsp
            select.form-control#mapSel(onchange="if (this.selectedIndex > -1) selected();")
              each val in maps
                if val === 'house'
                  option(selected='selected')= val
                else
                  option= val

block pagejs
  script(src='/js/controller.js')
