extends layout

block content
  include ./includes/navbar.jade
  div(class='container', id='body-cnt')
    h1(class='page-header') The Morning Poop Squad welcomes you
    h3 Rainbow 6 Siege "Super Professional" clan
    table(class='table')
      caption Current Members
      thead
        th name
        th bio
      tbody
        tr
          td MPS_KLOK
          td "heavy duty 8-inch" &nbsp
            img(src="//emojipedia-us.s3.amazonaws.com/cache/29/af/29af5309ee197524bbe67621f382514d.png", height='20px')
        tr
          td MPS_Porkslap
          td "big meats only" &nbsp
            img(src="/favicon.ico", height='20px')
        tr
          td MPS_liquor-man
          td bios are boring to write
        tr
          td MPS_felixofnyc
          td some asshole
