extends layout

block content
  div(class='container', id='body-cnt')
    include ./includes/navbar.jade
    h1(class='page-header') The Morning Poop Squad welcomes you
    h3 Rainbow 6 Siege "Super Professional" clan
    table(class='table')
      caption Current Members
      thead
        th name
        th bio
      tbody
        tr
          td MPS_KLOK
          td a dooker extraordinaire
        tr
          td MPS_Porkslap
          td a paf dooker
        tr
          td MPS_liquor-man
          td just a dooker
