extends layout

block content
  include ./includes/navbar.jade
  div(class='container', id='body-cnt')
    h1(class='page-header') The Morning Poop Squad welcomes you
    h3 Rainbow 6 Siege "Super Professional" clan
    table(class='table')
      caption Current Members
      thead
        th name
        th bio
      tbody
        tr
          td MPS_KLOK
          td a dooker extraordinaire
        tr
          td MPS_Porkslap
          td why am i doing this
        tr
          td MPS_liquor-man
          td bios are boring to write
        tr
          td MPS_felixofnyc
          td some asshole
