doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')

    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
      script(type='text/javascript') pageName = "#{pageName}";
      script(type='text/javascript', src='/js/navbar-active.js')
      script(type='text/javascript', src='/js/random-ns.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  body
    block content
