html, body, #cnt {
  height: 100%;
  width: 100%; }

#info {
  /* in reality 16%ish*/ }

#mapsCnt {
  height: 100%;
  /* if you scroll past info, should be full page */ }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.map-col {
  height: 100%;
  float: left;
  overflow: hidden; }

img.r6-map-img {
  display: block;
  height: 100%; }

.r6-row {
  height: 50%; }

#map-name {
  margin-top: 10px;
  margin-bottom: 5px; }

.r6-floor-name {
  margin-top: 10px;
  margin-bottom: 5px; }
